

.login{
  block-size: 750px;
  background-image: url("/src/images/Fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:center;
  background-position-x:left;
}
